@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  margin-top: -1.3rem;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(33, 33, 66);
  /* background-color: rgb(16, 16, 32); */
  /* background-color: rgb(250, 250, 250); */
}

.node {
  fill: #66b3ff;
  stroke: #333;
  stroke-width: 1.5px;
  /* stroke: #999; */
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.solid {
  stroke: #999;
  stroke-opacity: 0.6;
}

.dashed {
  stroke: #999;
  stroke-dasharray: 5;
}

#graph {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.slider-value {
  position: relative;
  left: 0rem;
  top: 0.05rem;
  color: white;
  /* color: black; */
  font-size: 14px;
}

.slider-container {
  position: relative;
  top: 4.1rem;
  left: 1.5rem;
}

.filter-label {
  color: white;
  /* color: black; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.filter-container {
  position: relative;
}

.slider-bar {
  position: relative;
  top: 0.3rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 100rem;
}

.checkbox-container label {
  color: white;
}

#filterDropdown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#filterDropdownCompanyType {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#publicCheckbox {
  position: absolute;
  left: 310px;
  top: 49px;
  cursor: pointer;
  width: 0.88rem;
  height: 0.88rem;
}

#publicLabel {
  position: absolute;
  left: 334px;
  top: 51px;
  cursor: pointer;
  /* color: black; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#privateCheckbox {
  position: absolute;
  left: 395px;
  top: 49px;
  cursor: pointer;
  width: 0.88rem;
  height: 0.88rem;
}

#privateLabel {
  position: absolute;
  left: 420px;
  top: 51px;
  cursor: pointer;
  /* color: black; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.info-box {
  background-color: white;
  border: solid 1px black;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  text-align: center;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
.info-box h4 {
  margin: 0;
  margin-bottom: 5px;
}
.info-box p {
  margin: 0;
  margin-bottom: 10px;
}

.info-box p:last-child {
  margin-bottom: 0;
}

.info-box-hidden {
  opacity: 0;
}

.info-box img {
  max-width: 100%;
  max-height: 100%;
}

.info-click-box {
  position: relative;
  background-color: white;
  border: solid 1px black;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  text-align: center;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
.info-click-box h4 {
  margin: 0;
  margin-bottom: 5px;
}
.info-click-box p {
  margin: 0;
  margin-bottom: 10px;
}

.info-click-box p:last-child {
  margin-bottom: 0;
}

.info-click-box img {
  max-width: 100%;
  max-height: 100%;
}

.clickedLabelGroupButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: darkgray;
  border: none;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: white;
  box-shadow: 0 0 5px grey;
}

.clickedLabelGroupButton:before {
  content: "✖";
}

.websiteButton {
  display: inline-block;
  padding: 10px 80px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  transition: opacity 0.5s;
  font-weight: bold;
}

.websiteButton:hover {
  transition: 0.8s;
  opacity: 0.8;
  color: white;
  border-color: #830051;
  text-decoration: underline;
  background-color: #830051;
}

#rightPanel {
  display: block;
  position: relative;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  text-align: center;
  border-radius: 5px;
}

#rightPanel h2 {
  font-family: "Roboto Slab", Helvetica, sans-serif;
}

#rightPanel p {
  font-family: Arial, Helvetica, sans-serif;
}

.rightPanelEcosystemText {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-right: 15px;
  padding-left: 10px;
}

.company_logo_panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.type_of_company_panel_header {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif; /* Use your preferred font here */
  font-size: 16px;
  width: 18.5rem;
  font-weight: bold;
}

.type_of_company_panel_text {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use your preferred font here */
  font-size: 16x;
  text-align: justify;
  width: 18.5rem;
  font-weight: bold;
}

.type_of_company_panel_text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
}

.type_of_company_panel_text:hover::after {
  width: 100%;
  left: 0;
}

.therapy_area_panel {
  font-size: 16px;
  font-weight: bold;
}

.ceo_panel {
  font-size: 16px;
  font-weight: bold;
}

.mission_statement_header {
  font-size: 16px;
  font-weight: bold;
}

.mission_statement_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
  padding-right: 15px;
  padding-left: 10px;
}
